
@{
    ViewBag.Title = WebPdfOdev.Resources.Home.HAKKIMIZDA;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <br />
    <div class="row">
        <div class="col-md-12 col-sm-12">

            <h4 style="margin-left:37%">@WebPdfOdev.Resources.Home.HAKKIMIZDA</h4><br />
            <div class="col-md-5 col-sm-5" style="margin-left:5%">
                <p>
             @WebPdfOdev.Resources.Home.hakkımızdaSayfası1
                </p>
            </div>
            <div class="col-md-6 col-sm-6">
                <p style="margin-right:10%">


                    <img src="~/img/hakkimizda.jpg" />
                </p>
            </div><br />
            <div class="col-md-11 col-sm-11" style="margin-left:5%">
                <p style="margin-right:20%">

                <p>
             @WebPdfOdev.Resources.Home.hakkımızdaSayfası2
                </p>
                <br /><br />
            </div>
        </div>
    </div>



</body>

</html>


