@model WebPdfOdev.Models.PdfModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/OgrenciPanel .cshtml";
}

<h2 style="text-align:center">@WebPdfOdev.Resources.OgrenciPaneli.OgrenciSınıfları.ogrencianasayfa</h2>
