
@{
    ViewBag.Title = "HataSayfasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center"><b>@WebPdfOdev.Resources.Mesajlar.hatabilgi</b> </h1>

<p style="margin-left:20%">
    <img src="~/img/404HATA.jpg" style="text-align:center" />
</p>

<h1 style="text-align:center"><b>@WebPdfOdev.Resources.Mesajlar.hatabilgi</b> </h1>