<html lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>ADMİN PANELİ</title>
    <link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link href="~/Content/Admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Admin/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="~/Content/Admin/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="~/Content/Admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Admin/vendors/custom.min.css" rel="stylesheet">

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Admin Paneli</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a href="~/StationData/List"><i class="fa fa-table"></i> İstasyon <span class="fa fa-chevron-down"></span></a>
                                </li>
                                <li>
                                    <a><i class="fa fa-clone"></i>Data Güncelleme <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Admin/PointDataBotUpdate">Nokta Verisi</a></li>
                                        <li><a href="~/Admin/PointFuelPriceBotUpdate">Akaryakıt Verisi</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Admin/UserList"><i class="fa fa-user"></i> Kullanıcılar <span class="fa fa-chevron-down"></span></a>
                                </li>
                                <li>
                                    <a href="~/Admin/PointTypeList"><i class="fa fa-dot-circle-o"></i> Point Kategorisi <span class="fa fa-chevron-down"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="~/Admin/Logout" style="float:right;">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                </div>
            </div>

            <div class="right_col" role="main" style="height:1000px">
                @RenderBody();

            </div>
        </div>

        <footer>
            <div class="pull-right">
                Harita İstasyon Admin Paneli
                <div class="clearfix"></div>
        </footer>
    </div>
    </div>
    <script src="~/Content/Admin/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/Admin/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Admin/vendors/fastclick/lib/fastclick.js"></script>
    <script src="~/Content/Admin/vendors/nprogress/nprogress.js"></script>
    <script src="~/Content/Admin/vendors/iCheck/icheck.min.js"></script>
    <script src="~/Content/Admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/Admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/Admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/Admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/Admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/Admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/Admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/Admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Content/Admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/Admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Content/Admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Content/Admin/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Content/Admin/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Content/Admin/vendors/pdfmake/build/vfs_fonts.js"></script>

    <script src="~/Content/Admin/vendors/custom.min.js"></script>



</body>
</html>

