<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Content/Station/img/favicon.ico">


    <script src="~/Content/Home/js/jquery-3.1.1.min.js"></script>
    <link href="~/Content/Station/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Station/css/sb-admin-2.min.css" rel="stylesheet">
   

</head>

<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/Station/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/Station/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Station/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Content/Station/js/sb-admin-2.min.js"></script>


</body>

</html>
