
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">@WebPdfOdev.Resources.AdminPaneli.Menüler.adminAnasayfa</a>
          
                
    </ol>
   

    </div>
