
@{
    ViewBag.Title = "HomeIndex";
    Layout = "~/Views/Template/HomeTemplate.cshtml";
}
<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading" style="margin-top:35%">
                    <h2>CBSSA Nedir?</h2>
                    <p>CBS İSTASYON UYGULAMASI İLE PARANIZI EN İYİ ŞEKİLDE KULLANICAKSINIZ.</p>
                </div>
                
            </div>
        </div>
    </div>
    <div class="welcome-thumb wow fadeInDown" data-wow-delay="0.5s">
        <img src="img/bg-img/welcome-img.png" alt="">
    </div>
</section>
<section class="special-area bg-white section_padding_100" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>UYGULAMANIN FAYDALARI</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="single-icon">
                        <i class="ti-mobile" aria-hidden="true"></i>
                    </div>
                    <h4>Güzergah Üzerindeki Mekanlar</h4>
                    <p>Sizler gideceğiniz koordinat üzerinde hangi istasyonlar,yemek alanları,hangi otoparklar var bunları bu proje sayesinde görebileceksiniz.</p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-icon">
                        <i class="ti-ruler-pencil" aria-hidden="true"></i>
                    </div>
                    <h4>Akaryakıtta Uygun Fiyat</h4>
                    <p>Bildiğiniz üzere akaryakıt her zaman değişmekte bunu takip eden ve müşterilerimizin parasını dikkatli kullanan bir uygulamadır.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <i class="ti-settings" aria-hidden="true"></i>
                    </div>
                    <h4>Kullanıcı Bilgi Sunması</h4>
                    <p>Bu uygulama ücretsiz bir uygulama olduğu için kullanıcı kendi mekanın bilgilerinide harita üzerine girebilecektir.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="special_description_area mt-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="special_description_img">
                        <img src="~/Content/Home/img/bg-img/image-1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-xl-5 ml-xl-auto">
                    <div class="special_description_content">
                        <h2>Neden CBSSA.</h2>
                        <p>Coğrafi Bilgi Sistemleri (CBS), verilerin toplanması, saklanması, analiz edilmesi, kullanıcıya sunulması gibi işlevleri bütünleştiren bir bilgi sistemidir. Kökünü Coğrafya biliminden alan CBS, birçok veri tipinin birleşmesinden oluşur. CBS, hayatımızın her alanına giren mekansal konumların analizi ile birlikte bilgi katmanları düzenleyerek haritalarda ve 3B sahnelerde görselleştirme yapılmasını sağlar. Bu benzersiz yetenekle CBS, kullanıcıların daha akıllı karar vermelerine yardımcı olmak için veriler arası modellemeler yaparak ve ilişki kurarak kullanıcıya daha derin bir bakış açısı sunar</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


