
@{
    ViewBag.Title = "HataSayfasi";
    Layout = "~/Views/Template/Ayseren_Template.cshtml";
}
<h1 style="text-align:center;color:red;margin-top:30%;margin-bottom:10%" ><b>SAYFAYA ERİŞİLEMİYOR LÜTFEN TEKRAR DENEYİNİZ</b></h1>

