
@{
    ViewBag.Title = "SabihaGokcenHavaalani";
    Layout = "~/Views/Template/Ayseren_Hizmet_Template.cshtml";
}
<div class="single-blog-img">
        <img src="~/Content/img/hizmetler/HizmetlerAnasayfa/sabihagokcen.jpg" alt="">
</div>
<div class="blog-text">
    <h4 style="margin-top:1%;text-align:center">
        @Yolculuk.Resources.HizmetlerText.Istanbu_SABIHA_GOKCEN_HAVAALANİ
    </h4>
    <p>
        <b>
            @Yolculuk.Resources.HizmetlerText.Istanbu_SABIHA_GOKCEN_HAVAALANİ_bilgi_1
        </b>
    </p>
    <p><b>@Yolculuk.Resources.HizmetlerText.Istanbu_SABIHA_GOKCEN_HAVAALANİ_bilgi_2</b></p>
    
</div>
