@model TelefonRehberi.Models.Departman

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}

<h2 style="text-align:center">Departman Sil</h2>


<div>
    
    <hr />
    <dl class="dl-horizontal" style="margin-left:2%">
        <dt>
           Departman Adi 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departmanadi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-left:2%">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
